body{
    margin: 0;
    padding: 0;
}
#container{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 100, 0);
    position: relative;
}
#barajitaT{
    border-radius: 5%;
    top: 20px;
    left: 20px;
    position: relative;
    background-image: url('../img/NN.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 1px solid black; */
    height: 180px;
    width: 150px;
}
#barajitaD{
    border-radius: 5%;
    top: 20px;
    left: 190px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 150px;
}
#diamantes{
    border: 1px solid black;
    border-radius: 5%;
    top: 20px;
    left: 510px;
    position: absolute;
    height: 180px;
    width: 150px;
    display: flex;
    img{
        min-width: 70%;
        min-height: 70%;
        max-width: 150px;
        max-height: max-content;
    }
}
#picas{
    border: 1px solid black;
    border-radius: 5%;
    top: 20px;
    left: 670px;
    position: absolute;
    height: 180px;
    width: 150px;
    display: flex;
    img{
        min-width: 70%;
        min-height: 70%;
        max-width: 150px;
        max-height: max-content;
    }
}
#treboles{
    border: 1px solid black;
    border-radius: 5%;
    top: 20px;
    left: 835px;
    position: absolute;
    height: 180px;
    width: 150px;
    display: flex;
    img{
        min-width: 70%;
        min-height: 70%;
        max-width: 150px;
        max-height: max-content;
    }
}
#corazones{
    border: 1px solid black;
    border-radius: 5%;
    top: 20px;
    left: 1000px;
    position: absolute;
    height: 180px;
    width: 150px;
    display: flex;
    img{
        margin: auto;
        min-width: 70%;
        min-height: 70%;
        max-width: 150px;
        max-height: max-content;
    }
}
#fila1{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 20px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila2{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 185px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila3{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 350px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila4{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 510px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila5{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 670px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila6{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 835px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila7{
    /* border: 1px solid black; */
    border-radius: 5%;
    top: 220px;
    left: 1000px;
    position: absolute;
    height: 180px;
    width: 150px;
}