body{
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}
#container{
    margin: auto;
    margin-top: 50px;
    height: 700px;
    width: 1200px;
    background: chocolate;
    position: relative;
}
#barajitaT{
    border-radius: 10%;
    top: 20px;
    left: 20px;
    position: relative;
    background-image: url('../img/NN.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    height: 180px;
    width: 150px;
}
#barajitaD{
    border-radius: 10%;
    top: 20px;
    left: 190px;
    position: absolute;
    background-image: url('../img/TuLogoPapi.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 150px;
}
#diamantes{
    background-image: url('../img/DIAMANTE.PNG');
    background-position: center;
    border: 1px solid black;
    border-radius: 10%;
    top: 20px;
    left: 510px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#picas{
    background-image: url('../img/PICA.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border: 1px solid black;
    border-radius: 10%;
    top: 20px;
    left: 670px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#treboles{
    background-image: url('../img/TREBOL.PNG');
    background-position: center;
    border: 1px solid black;
    border-radius: 10%;
    top: 20px;
    left: 835px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#corazones{
    background-image: url('../img/CORAZON.PNG');
    background-position: center;
    border: 1px solid black;
    border-radius: 10%;
    top: 20px;
    left: 1000px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila1{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 20px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila2{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 185px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila3{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 350px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila4{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 510px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila5{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 670px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila6{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 835px;
    position: absolute;
    height: 180px;
    width: 150px;
}
#fila7{
    border: 1px solid black;
    border-radius: 10%;
    top: 220px;
    left: 1000px;
    position: absolute;
    height: 180px;
    width: 150px;
}